In [6]:
import pandas as pd

In [85]:
df = pd.read_csv('./challenge_source_data.csv')
df['risk'] = df['wear']*df['weather']*df['vegetation']

In [86]:
df = df.iloc[: , 1:]

In [100]:
df['id']= range(1, len(df) + 1)

In [103]:
df.to_csv('new-data.csv',index=False)

In [104]:
df

,geometry,wear,weather,vegetation,names,risk,id
0,"{'bbox': [-121.76321817174035, 38.546501023184...",1.00,0.730345,0.696342,Lillian Brown Line,0.508570,1
1,"{'bbox': [-121.67667135479978, 38.432542118553...",0.70,0.857055,0.509175,Norbert Jenson Line,0.305473,2
2,"{'bbox': [-121.7478583069657, 38.5451747098774...",0.65,0.701924,0.756757,Janice Hibbler Line,0.345271,3
3,"{'bbox': [-121.7352004762769, 38.5457539788688...",1.00,0.936968,0.848806,Karen Grett Line,0.795304,4
4,"{'bbox': [-121.76474925009732, 38.548319691768...",0.50,0.549898,0.860615,Thomas Novak Line,0.236625,5
...,...,...,...,...,...,...,...
145,"{'bbox': [-121.71580494093655, 37.711291909593...",0.60,0.543317,0.643700,Hassan Wynn Line,0.209840,146
146,"{'bbox': [-121.7046885286235, 37.7005546493609...",0.75,0.914409,0.715776,Judith Norris Line,0.490884,147
147,"{'bbox': [-121.706038329478, 37.70053917340372...",0.45,0.847403,0.607772,Natasha Johnson Line,0.231763,148
148,"{'bbox': [-121.87089313701294, 37.996970710939...",0.70,0.569021,0.924450,Megan Witcher Line,0.368222,149
149,"{'bbox': [-119.76198939522524, 37.230024714922...",0.75,0.803378,0.629069,Joseph Hubbard Line,0.379035,150

In [96]:
df2 = df[:1]
df2.to_csv('test-data.csv', index=False, header=False)

In [97]:
df2

,geometry,wear,weather,vegetation,names,risk
0,"{'bbox': [-121.76321817174035, 38.546501023184...",1.0,0.730345,0.696342,Lillian Brown Line,0.50857